<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css/">
</head>
<body>
  {{{ body }}} <!--2 brackets renders as text, 3 renders as html-->
</body>
</html>
